In [1]:
import pandas as pd

- Import data

In [2]:
# Import traffic data 
traffic_data = pd.read_csv("/content/drive/MyDrive/Courses/Khoá luận tốt nghiệp/Dataset/data_p3.csv")

# Import weather data
weather_data = pd.read_excel("/content/drive/MyDrive/Courses/Khoá luận tốt nghiệp/Dataset/weather_data/cork_weather_data.xlsx", sheet_name=1)

In [14]:
traffic_data

                   id            datetime            location  value
0       000000001271A 2021-01-01 00:00:00  51.86242, -8.47908     17
1       000000001271A 2021-01-01 01:00:00  51.86242, -8.47908      7
2       000000001271A 2021-01-01 02:00:00  51.86242, -8.47908      8
3       000000001271A 2021-01-01 03:00:00  51.86242, -8.47908      8
4       000000001271A 2021-01-01 04:00:00  51.86242, -8.47908      5
...               ...                 ...                 ...    ...
192715  000000001256B 2021-12-31 19:00:00  51.88825, -8.39061    768
192716  000000001256B 2021-12-31 20:00:00  51.88825, -8.39061    531
192717  000000001256B 2021-12-31 21:00:00  51.88825, -8.39061    277
192718  000000001256B 2021-12-31 22:00:00  51.88825, -8.39061    212
192719  000000001256B 2021-12-31 23:00:00  51.88825, -8.39061    146

[192720 rows x 4 columns]

In [5]:
traffic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192720 entries, 0 to 192719
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        192720 non-null  object
 1   datetime  192720 non-null  object
 2   location  192720 non-null  object
 3   value     192720 non-null  int64
dtypes: int64(1), object(3)
memory usage: 5.9+ MB

In [6]:
traffic_data['datetime'] = traffic_data['datetime'].astype('datetime64')

In [7]:
traffic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192720 entries, 0 to 192719
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        192720 non-null  object
 1   datetime  192720 non-null  datetime64[ns]
 2   location  192720 non-null  object
 3   value     192720 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 5.9+ MB

In [8]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    8760 non-null   datetime64[ns]
 1   ind     8760 non-null   int64
 2   rain    8760 non-null   float64
 3   ind.1   8760 non-null   int64
 4   temp    8760 non-null   float64
 5   ind.2   8760 non-null   int64
 6   wetb    8760 non-null   float64
 7   dewpt   8760 non-null   float64
 8   vappr   8760 non-null   float64
 9   rhum    8760 non-null   int64
 10  msl     8760 non-null   float64
 11  ind.3   8760 non-null   int64
 12  wdsp    8760 non-null   int64
 13  ind.4   8760 non-null   int64
 14  wddir   8760 non-null   int64
 15  ww      8760 non-null   int64
 16  w       8760 non-null   int64
 17  sun     8760 non-null   float64
 18  vis     8760 non-null   int64
 19  clht    8760 non-null   int64
 20  clamt   8760 non-null   int64
dtypes: datetime64[ns](1), float64(7), int64(13)
memory usage: 1.4 MB

- Test small-scale data

In [9]:
data_A = traffic_data.iloc[22:27,:]
data_A

               id            datetime            location  value
22  000000001271A 2021-01-01 22:00:00  51.86242, -8.47908     23
23  000000001271A 2021-01-01 23:00:00  51.86242, -8.47908     12
24  000000001271A 2021-01-02 00:00:00  51.86242, -8.47908     10
25  000000001271A 2021-01-02 01:00:00  51.86242, -8.47908      4
26  000000001271A 2021-01-02 02:00:00  51.86242, -8.47908      1

In [10]:
data_B = weather_data.iloc[22:27,:]
data_B

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
22,2021-01-01 22:00:00,0,0.0,0,2.5,0,1.9,1.0,6.5,89,...,2,8,2,340,2,11,0.0,20000,28,5
23,2021-01-01 23:00:00,3,0.0,0,1.7,0,1.4,0.8,6.5,94,...,2,6,2,320,2,11,0.0,20000,28,6
24,2021-01-02 00:00:00,3,0.0,0,0.9,0,0.6,0.2,6.1,94,...,2,9,2,320,2,11,0.0,20000,999,2
25,2021-01-02 01:00:00,3,0.0,0,0.7,0,0.3,-0.3,5.9,92,...,2,9,2,340,2,11,0.0,20000,999,1
26,2021-01-02 02:00:00,3,0.0,0,0.1,1,-0.2,-0.7,5.8,94,...,2,8,2,320,2,11,0.0,20000,999,1

In [11]:
df_test = pd.merge(data_A, data_B, left_on='datetime', right_on='date')
df_test

,id,datetime,location,value,date,ind,rain,ind.1,temp,ind.2,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,000000001271A,2021-01-01 22:00:00,"51.86242, -8.47908",23,2021-01-01 22:00:00,0,0.0,0,2.5,0,...,2,8,2,340,2,11,0.0,20000,28,5
1,000000001271A,2021-01-01 23:00:00,"51.86242, -8.47908",12,2021-01-01 23:00:00,3,0.0,0,1.7,0,...,2,6,2,320,2,11,0.0,20000,28,6
2,000000001271A,2021-01-02 00:00:00,"51.86242, -8.47908",10,2021-01-02 00:00:00,3,0.0,0,0.9,0,...,2,9,2,320,2,11,0.0,20000,999,2
3,000000001271A,2021-01-02 01:00:00,"51.86242, -8.47908",4,2021-01-02 01:00:00,3,0.0,0,0.7,0,...,2,9,2,340,2,11,0.0,20000,999,1
4,000000001271A,2021-01-02 02:00:00,"51.86242, -8.47908",1,2021-01-02 02:00:00,3,0.0,0,0.1,1,...,2,8,2,320,2,11,0.0,20000,999,1

- Merge full data

In [12]:
df = pd.merge(traffic_data, weather_data, left_on='datetime', right_on='date').drop('date',axis=1).rename(columns = {'ind':'irain', 'ind.1':'itemp', 'ind.2':'iwb', 'ind.3':'iwdsp', 'ind.4':'iwddir'})
df

,id,datetime,location,value,irain,rain,itemp,temp,iwb,wetb,...,iwdsp,wdsp,iwddir,wddir,ww,w,sun,vis,clht,clamt
0,000000001271A,2021-01-01 00:00:00,"51.86242, -8.47908",17,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
1,000000001271B,2021-01-01 00:00:00,"51.86242, -8.47908",10,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
2,000000001403A,2021-01-01 00:00:00,"51.87619, -8.49964",125,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
3,000000001403B,2021-01-01 00:00:00,"51.87619, -8.49964",111,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
4,000000001404A,2021-01-01 00:00:00,"51.87567, -8.51047",86,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192715,000000001283B,2021-12-31 23:00:00,"51.87578, -8.41266",117,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7
192716,000000001258A,2021-12-31 23:00:00,"51.88229, -8.4076",126,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7
192717,000000001258B,2021-12-31 23:00:00,"51.88229, -8.4076",144,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7
192718,000000001256A,2021-12-31 23:00:00,"51.88825, -8.39061",127,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7
192719,000000001256B,2021-12-31 23:00:00,"51.88825, -8.39061",146,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7

In [13]:
# Export dataset
df.to_csv("/content/drive/MyDrive/Courses/Khoá luận tốt nghiệp/Dataset/final_data_2.csv", index=False)